//--------------------------------------------------------------
// Card (variations used for both blog + portfolio)
//--------------------------------------------------------------
.post-card {
	box-shadow: 1px 1px 30px 7px rgba($pearl, 0.6);
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	@include media($phone-landscape) {
		width: calc((100% / 2) - 2%);
	}

	@include media($tablet-landscape) {
		align-items: stretch;
		flex-direction: row;
		width: 100%;
	}

	// Swap the order of those ones, please.
	&:nth-child(odd) {

		@include media($tablet-landscape) {
			flex-direction: row-reverse;
		}

		// Reverse triangle fun!
		.entry-content::before {

			@include media($tablet-landscape) {
				@include position(absolute, 25% -6.5% null null);
				@include size(0 0);

				border: solid transparent;
				border-left-color: $white;
				border-width: 15px;
				content: "";
				margin-top: -15px;
				pointer-events: none;

			}
		} // &::before
	} // &:nth-child(odd)
} // .post-card

.post-card {
	.entry-header {
		font-size: 0; // ghost-space killah.
		text-align: center;

		@include media($tablet-landscape) {
			text-align: left;
		}
	} // .entry-header

	.entry-title {
		font-size: 30px;
		line-height: 1.3;
		margin: 0;

		@include media($tablet-landscape) {
			margin: 0 0 $gutter;
		}

		&:after {
			background: $gradient;
			content: "";
			display: block;
			height: 2px;
			margin-top: $gutter / 2;
		}

		a {
			text-decoration: none;
		}
	} // .entry-title

	.card-excerpt {
		font-size: 16px;
		margin: $gutter / 2 0 0;
	}

	.entry-content {
		background-color: $white;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		margin-top: 0;
		padding: 10px;
		position: relative;

		@include media($tablet-landscape) {
			padding: 18px;
			width: 50%;
		}

		// // Triangle fun!
		&::before {

			@include media($tablet-landscape) {
				@include position(absolute, 25% 100% null null);

				border: solid transparent;
				border-right-color: $white;
				border-width: 15px;
				content: " ";
				height: 0;
				margin-top: -15px;
				pointer-events: none;
				width: 0;
			}
		} // &::before

		&::after {
			content: none;
		} // &::after
	} // .entry-content

	// 'Read more' link.
	.button {
		color: $revolver;
		display: inline-block;
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 1;
		margin-top: $gutter;
		text-decoration: none;
		width: 160px;

		@include media($tablet-landscape) {
			margin-top: 0;
		}

		// Chevron.
		&:after {
			content: "\f054";
			font-family: fontAwesome;
			margin-left: 5px;
			transition: font-weight 0.2s ease-in-out, margin 0.2s ease-in-out;
			vertical-align: bottom;
		}

		&:hover,
		&:active,
		&:focus {

			// Chevron.
			&:after {
				margin-left: 8px;
			}
		}
	} // .button
} // post-card


