//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: 36px;
	margin-bottom: 12px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px 0;

	.home & {
		margin: 0;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 36px 0 0;
	padding: 1px 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px 0;
}

.edit-link {
	margin: 0 24px 0 0;
}

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

// Footnotes.
// Initialiazing `footnotes` counter on the wrapper.
article.type-post {
	counter-reset: footnotes;
}

.simple-footnotes {
	ol a {
		color: $loulou;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
}

// Inline footnotes references.
[aria-describedby='footnote-label'] {
	color: inherit;
	counter-increment: footnotes;
	cursor: default;
	outline: none;
	text-decoration: none;
}

// Actual numbered references.
[aria-describedby='footnote-label']::after {
	content: '[' counter(footnotes) ']';
	color: $aqua;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	vertical-align: super;
}

// Resetting default focused styles on the number.
[aria-describedby='footnote-label']:focus::after {
	outline: thin dotted;
	outline-offset: 2px;
}

[aria-label='Back to content'] {
	font-size: 12px;
}

// Highlight target note.
footer {
	:target {
		background-color: $pearl;
	}
}
