//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: 36px;
	margin-bottom: 12px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 36px 0 0;

	.page &,
	.single-post & {
		a {
			border-bottom: 3px solid $aqua;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 24px 0;
}

.edit-link {
	margin: 0 24px 0 0;
}

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
