//--------------------------------------------------------------
// Factoids (on 'About' page)
//--------------------------------------------------------------

// Wrapper around factoids.
.factoids {
	margin: 36px 0;

	.factoid-shell {
		display: flex;
		flex-wrap: wrap;

		@include media($tablet-landscape) {
			justify-content: space-evenly;
		}
	}

	h5 {
		line-height: 1;
		margin-top: 0;
		padding-top: 0;
	}
} // .about-things

// Each separate factoid.
.factoid {
	align-items: baseline;
	display: flex;
	margin-bottom: 24px;

	@include media($tablet-portrait) {
		max-width: calc(100% / 2);
	}

	@include media($tablet-landscape) {
		max-width: calc(100% / 3);
	}

	p {
		margin: 0;
	}

	// Icon.
	.fa {
		color: $loulou;
		font-size: 30px;
	} // .fa

	// Fact content (title + description).
	.fact-content {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		width: 100%;

		@include media($tablet-landscape) {
			width: 75%;
		}

		h4 {
			margin: 0;
			text-align: left;
		} // h3
	} // .fact-content
} // factoid
