//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	background-color: $cinder;
	color: $pearl;

	.heart {
		color: $aqua;
	}
}

.site-info {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
