//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	background-color: $cinder;
	color: $pearl;
	font-size: 18px;

	.heart {
		color: $aqua;
		margin: 0 3px;
	}
}

.site-info {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
