//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	font-size: 48px;
}

.site-description {
	font-size: 24px;
	margin: 0 0 24px 0;
}
