//--------------------------------------------------------------
// Helpful Section
//--------------------------------------------------------------

.i-can-help	{

	.help-shell {
		display: flex;
		justify-content: space-between;
	}

	.section-title {
		text-align: center;
	}

	.help-single {
		box-shadow: $shadow;
		padding: $gutter $gutter * 2;
		width: calc((100% / 3 - 20px));

		.fa {
			color: $loulou;
			display: block;
			font-size: 60px;
			text-align: center;
		}

		h3 {
			color: $revolver;
			margin: 0 0 $gutter;
			text-align: center;

			&:after {
				background: $gradient;
				content: "";
				display: block;
				height: 2px;
				margin-top: $gutter / 2;
			}
		} // h3

		p {
			line-height: 1.75;
			margin-bottom: 0;
		}
	}
}
