//--------------------------------------------------------------
// Helpful Section
//--------------------------------------------------------------

.i-can-help	{

	.help-shell {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media($tablet-portrait) {
			flex-direction: row;
		}
	} // .help-shell

	.section-title {
		text-align: center;
		margin-top: 0;
	}

	.help-single {
		border: 1px solid darken($pearl, 20%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: $gutter * 2;
		padding: $gutter $gutter * 2;

		@include media($tablet-portrait) {
			flex-direction: row;
			margin-top: 0;
			width: calc((100% / 3 - 8px));
		}

		.fa {
			color: $loulou;
			display: block;
			font-size: 50px;
			text-align: center;
			// margin-right: $gutter * 2;
			// vertical-align: middle;
		}

		h3 {
			color: $revolver;
			display: block;
			margin: 0 0 $gutter;
			text-align: center;

			&:after {
				background: $gradient;
				content: '';
				display: block;
				height: 2px;
				margin-top: $gutter / 2;
			}
		} // h3

		p {
			line-height: 1.75;
		}

		// CTA link in center card.
		.button-cta {
			background-color: $white;
			border: 1px solid $loulou;
			color: $revolver;
			display: block;
			font-size: 16px;
			margin: 0;
			max-width: 135px;
			padding: 8px 24px;
			text-align: center;
			transition: all 0.2s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				border: 1px solid darken($aqua, 20%);
				box-shadow: inset 0 0 0 5px $aqua;
			}
		}
	} // .help-single
} // .i-can-help
