//--------------------------------------------------------------
// Helpful Section
//--------------------------------------------------------------

.i-can-help	{

	.help-shell {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media($tablet-portrait) {
			flex-direction: row;
		}

		a {
			border-bottom: 2px solid $aqua;
			transition: border 0.2s ease-in-out;

			&:hover,
			&:focus,
			&:active {
				border-bottom: 3px solid $aqua;
			}
		}
	}

	.section-title {
		text-align: center;
	}

	.help-single {
		border: 1px solid darken($pearl, 20%);
		margin-top: $gutter * 2;
		padding: $gutter $gutter * 2;

		@include media($tablet-portrait) {
			margin-top: 0;
			width: calc((100% / 3 - 8px));
		}

		@include media($tablet-landscape) {
			width: calc((100% / 3 - 20px));
		}

		.fa {
			color: $loulou;
			display: block;
			font-size: 60px;
			text-align: center;
		}

		h3 {
			color: $revolver;
			margin: 0 0 $gutter;
			text-align: center;

			&:after {
				background: $gradient;
				content: "";
				display: block;
				height: 2px;
				margin-top: $gutter / 2;
			}
		} // h3

		p {
			line-height: 1.75;
			margin-bottom: 0;
		}
	} // .help-single
} // .i-can-help
