//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;
	text-decoration: none;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active

	&.home-link {
		color: $pearl;
		display: inline-block;
		font-weight: 400;
		line-height: 1;
		text-decoration: none;
	}

	.page-content &,
	.entry-content & {
		border-bottom: 2px solid $aqua;
		transition: border 0.2s ease-in-out;

		&:hover,
		&:focus,
		&:active {
			border-bottom: 3px solid $aqua;
		}
	}
} // a

// Default menu (active after a fresh WordPress install).
.menu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-family: $font-sans;
	justify-content: space-between;
	margin: 0 0 0 auto;
	max-width: 800px;
	padding: 10px 0 10px 10px;
	width: 100%;

	@include media($tablet-landscape) {
		flex-direction: row;
		justify-content: flex-end;
	}

	li {
		font-size: 18px;
		position: relative;

		&:not(:last-of-type) {
			margin: 0 10px 0 0;

			a {
				padding: 10px 35px;
			}

			a:after {
				@include position(absolute, null -10px null null);

				color: $aqua;
				content: "\2022";
				font-size: 32px;
				line-height: 1;
			} // a:after
		} // &:not(:last-of-type)

		&:hover > a,
		&:focus > a {

		} // &:hover > a, &.focus > a
	} // li

	a {
		color: $color-whitesmoke;
		display: block;
		padding: 10px 0 10px 35px;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		} // li
	} // &.menu-horizontal

	&.menu-vertical {

		li {
			margin: 0;
		} // li

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: 10px;
		} // a
	} // &.menu-vertical

	&.dropdown {

		// Sub-menu
		ul {
			@include position(absolute, 24px null null -999em);

			box-shadow: 0 3px 3px rgba($black, 0.2);
			float: left;
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			} // ul

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				} // &:hover > ul, &.focus > ul
			} // li

			// Sub-menu links
			a {
				@include size(200px auto);
			} // a

			// &:hover > a,
			// .focus > a {
			// } // &:hover > a, .focus > a

			// a:hover,
			// a:focus {
			// } // a:hover, a.focus
		} // ul

		// Display sub-menu on hover
		li:hover > ul,
		li:focus > ul {
			left: auto;
		} // li:hover > ul, li.focus > ul

		// Menu items
		li {
			float: left;
			position: relative;

			// &:hover > a,
			// &.focus > a {
			// } // &:hover > a, &.focus > a
		} // li
	} // &.dropdown

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	} // a

	// Current items.
	.current_page_item a,
	.current-menu-item a {
	} // .current_page_item a, .current-menu-item a
} // .menu

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	text-transform: uppercase;

	// Menu area
	ul {

		@include media($phone-landscape) {
			display: flex;
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul

	@include media($tablet-landscape) {
		display: block;
	}
} // .main-navigation

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		overflow: hidden;
		width: 100%;
	} // .site-main &

	&.nav-previous {
		@include size(50% auto);

		float: left;
	} // &.nav-previous

	&.nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	} // &.nav-next

	a {
		display: inline-block;
		text-decoration: none;
	}
} // .comment-navigation, .posts-navigation, .post-navigation

// Single Portfolio CPT Navigation.
.nav-links {
	display: flex;
	margin-bottom: $gutter * 2;
	width: 100%;

	.nav-previous,
	.nav-next {
		@include size(50% auto);

		&:hover {

			a:after,
			a:before {
				color: $aqua;
			}
		} // &:hover

		a {
			// Chevrons.
			&:after,
			&:before {
				color: $loulou;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 20px;
				line-height: 1;
				transition: color 0.25s ease-in-out;

				@include media($tablet-landscape) {
					font-size: 36px;
				}
			}
		}
	} // .nav-previous, .nav-next

	// Next Chevron.
	.nav-next {
		text-align: right;

		a:after {
			content: "\f054";
			margin-left: $gutter;
		} // &:after
	} // .nav-next

	// Previous Chevron.
	.nav-previous {

		a:before {
			content: "\f053";
			margin-right: $gutter;
		}
	} // .nav-previous

	// Previous/Next Post prefix.
	.pre-title,
	.pre-title a {
		color: rgba($loulou, 0.75);
		display: inline-block;
		font-size: 22px;
		height: 100%;
		line-height: 1.3;
		margin: 0;

		// Actual name of post.
		.title {
			color: $loulou;
			display: block;
		}
	} // .pre-title
} //.nav-links

// // Nav links that are also for Blog navigation + CPT archive page nav.
.nav-links {

	&.page-nav {

		a:before,
		a:after {
			vertical-align: middle;
		}
	}
}

