//--------------------------------------------------------------
// Testimonials Carousel
//--------------------------------------------------------------

.testimonials {
	margin: $gutter 0;

	@include media($tablet-portrait) {
		margin: $gutter * 2 0;
	}

	h2 {
		margin-bottom: $gutter / 2;
	}

	.testimonials-shell {

		@include media($phone-landscape) {
			padding: 26px 0;
		}
	}

	.testimonial-single {
		display: flex;
		min-height: 100%;
		width: 100%;
	}

	.testimonial-single-shell {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		width: 100%;

		@include media($phone-landscape) {
			max-width: 58%;
		}

		@include media($tablet-portrait) {
			max-width: 72%;
		}

		@include media($tablet-landscape) {
			flex-direction: row;
		}

		a {
			border-bottom: 2px solid $pearl;
			transition: border 0.2s ease-in-out;

			&:hover,
			&:focus,
			&:active {
				border-bottom: 2px solid $aqua;
			}
		}
	} // .testimonial-single-shell

	// Source photo.
	.testimonial-photo {
		@include size(120px);

		border-radius: 50%;
	}

	blockquote {
		border-left: none;
		margin: 0;
		position: relative;
		z-index: 4;

		@include media($tablet-portrait) {
			margin: 0 0 0 20px;
		}

		p {
			font-size: 20px;

			&:before {
				@include position(absolute, -90px null null -15px);

				color: darken($aqua, 25%);
				content: "\201C";
				font-size: 140px;
				opacity: 0.3;
				z-index: -1;

				@include media($phone-landscape) {
					@include position(absolute, -70px null null -44px);
				}
			}
		}
	} // blockquote

	.quote-container {
		font-family: $font-serif;
		font-size: 18px;
		margin-left: 10px;
		padding: 20px 0;

		@include media($tablet-landscape) {
			margin-left: 50px;
		}
	}

	.testimonial-name,
	.testimonial-link {
		margin-left: 36px;
	}

	.testimonial-link,
	.testimonial-source {
		line-height: 1.4;

		@include media($phone-landscape) {
			line-height: 1;
		}
	}

	.testimonial-name {
		margin-bottom: 0;
	}

	.testimonial-source {
		margin: 5px 0 0 36px;
	}

	// Arrow colours.
	.flickity-prev-next-button .arrow,
	.flickity-prev-next-button.no-svg {
		fill: $loulou;
	}
} // .testimonials
