//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-footer {
	padding: $gutter 0;

	@include media($tablet-landscape) {
		padding: 8px 2 * $gutter;
	}
}

.flex-shell {
	.blog &,
	.archive.tag &,
	.archive.category & {
		display: flex;
		flex-wrap: wrap;

		@include media($phone-landscape) {
			justify-content: space-around;
		}
	}
}

.site-content {
	.blog &,
	.single-post &,
	.single-testimonials & {
		margin-top: 36px;
	}
}

.primary {
	@include fill-parent;

	.blog &,
	.single-post &,
	.single-testimonials & {

		@include media($tablet-landscape) {
			@include span-columns(9);
		}
	}
}

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(3);
	}
}
