//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-main {

	.archive &,
	.blog & {

		display: flex;
		flex-wrap: wrap;

		@include media($phone-landscape) {
			justify-content: space-around;
		}
	}
}

.site-content {

	.blog &,
	.single-post & {
		margin-top: 36px;
	}
}

.primary {
	@include fill-parent;

	.blog &,
	.single-post {

		@include media($tablet-landscape) {
			@include span-columns(9);
		}
	}
}

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(3);
	}
}
