//--------------------------------------------------------------
// Archive: Portfolio CPT
//--------------------------------------------------------------
.archive {

	.page-title {
		text-align: center;
	}

	.grid {
		display: grid;
		width: 100%;

		@include media($phone-landscape) {
			grid-gap: 2%;
			grid-template-columns: repeat(2, 49%);
		}

		@include media($tablet-landscape) {
			grid-gap: 3%;
			grid-template-columns: repeat(3, 31.33%);
		}

		.post-card {
			transition: transform 0.25s ease-in-out;

			@include media($phone-landscape) {
				width: 100%;
			}

			&:hover,
			&:focus,
			&:active {
				box-shadow: 1px 1px 30px 7px rgba($revolver, 0.6);
				transform: scale(1.02);
			}

			// Getting rid of reverse triangle fun.
			.entry-content::before {

				@include media($tablet-landscape) {
					content: none;
				}
			} // &::before
		} // .post-card

		// First two horizontal cards.
		.post-card:first-of-type,
		.post-card:nth-of-type(3) {

			.entry-content {
				height: auto;
			}

			@include media($tablet-landscape) {
				grid-column: 1 / 3;
			}
		}

		// Vertical cards.
		.post-card:nth-of-type(2),
		.post-card:nth-of-type(4) {
			flex-direction: column;

			@include media($tablet-landscape) {
				grid-row: span 2;
			}

			.entry-content {
				width: 100%;
			}
		}

		// Last two horizontal cards.
		.post-card:nth-of-type(5),
		.post-card:nth-of-type(6) {

			.entry-content {
				height: auto;
			}

			@include media($tablet-landscape) {
				grid-column: 2 / 4;
			}
		}
	} // .grid
} // .archive


//--------------------------------------------------------------
// Archive: Blog Tags + Categories
//--------------------------------------------------------------
.archive {

	&.category,
	&.tag {

		.entry-content {
			height: auto;
			width: 100%;
		}
	} // &.category, &.tag
} // .archive
