//--------------------------------------------------------------
// Archive: Portfolio CPT
//--------------------------------------------------------------
.archive {

	// Grid system.
	.grid {
		display: grid;
		width: 100%;

		@include media($phone-landscape) {
			grid-gap: 2%;
			grid-template-columns: repeat(2, 49%);
		}

		@include media($tablet-landscape) {
			grid-gap: 3%;
			grid-template-columns: repeat(3, 31.33%);
		}

		// First two horizontal cards.
		.post-card:first-of-type,
		.post-card:nth-of-type(3) {

			.entry-content {
				height: auto;
			}

			@include media($tablet-landscape) {
				grid-column: 1 / 3;
			}
		}

		// Vertical cards.
		.post-card:nth-of-type(2),
		.post-card:nth-of-type(4) {
			flex-direction: column;

			@include media($tablet-landscape) {
				grid-row: span 2;
			}

			.entry-content {
				width: 100%;
			}
		}

		// Last two horizontal cards.
		.post-card:nth-of-type(5),
		.post-card:nth-of-type(6) {

			.entry-content {
				height: auto;
			}

			@include media($tablet-landscape) {
				grid-column: 2 / 4;
			}
		}
	} // .grid
} // .archive


//--------------------------------------------------------------
// Varying styles from modules/_card.scss.
//--------------------------------------------------------------
.archive {

	.grid {
		.post-card {

			@include media($phone-landscape) {
				width: 100%;
			}

			// Card title.
			.entry-title {
				font-size: 30px;

				@include media($tablet-landscape) {
					font-size: 25px;
				}

				@include media($desktop) {
					font-size: 30px;
				}
			}

			// Title, excerpt + link.
			.entry-content {
				justify-content: space-evenly;
			}

			// Project excerpt.
			.card-excerpt {
				font-size: 16px;

				@include media($tablet-landscape) {
					font-size: 14px;
				}

				@include media($desktop) {
					font-size: 16px;
				}
			}

			// Getting rid of reverse triangle fun.
			.entry-content::before {

				@include media($tablet-landscape) {
					content: none;
				}
			} // &::before
		} // .post-card
	} // .grid
} // .archive


//--------------------------------------------------------------
// Archive: Blog Tags + Categories
//--------------------------------------------------------------
.archive {

	&.category,
	&.tag {

		.entry-content {
			height: auto;
			width: 100%;
		}

		// Swap the order of those ones, please.
		.post-card {
			&:nth-child(odd) {

			@include media($tablet-landscape) {
				flex-direction: row-reverse;
			}

				// Reverse triangle fun!
				.entry-content::before {

					@include media($tablet-landscape) {
						@include position(absolute, 25% -3.25% null null);
					}
				} // &::before
			} // &:nth-child(odd)
		} // .post-card
	} // &.category, &.tag
} // .archive
