//--------------------------------------------------------------
// Portfoliio
//--------------------------------------------------------------
.single-portfolio {

	.entry-title {
		background: linear-gradient(43deg, $cinder 10%, $loulou 55%, $aqua 85%);
		color: $white;
		line-height: 1;
		padding: 12px 16px 16px;

		a {
			text-decoration: none;
		}
	} // .entry-title

	.portfolio-featured {
		box-shadow: $shadow;
		float: left;

		@include media($tablet-landscape) {
			margin-right: $gutter * 2;
		}
	}

	.image-gallery {
		display: grid;
		grid-gap: $gutter;
		grid-template-columns: repeat(3, 1fr);
		list-style-type: none;
		margin: 42px 0;
		padding: 0;

		a,
		li {
			display: inline-block;
		}

		.portfolio-gallery-single {
			font-size: 0; // ghost-space killah.

			img {
				box-shadow: $shadow;
			}
		}
	} // .image-gallery
} // .portfolio
