//--------------------------------------------------------------
// Portfoliio
//--------------------------------------------------------------
.single-portfolio {

	.entry-title {
		background: $gradient;
		color: $white;
		line-height: 1;
		padding: 12px 16px 16px;

		a {
			text-decoration: none;
		}
	} // .entry-title

	h3 {

		@include media($tablet-portrait) {
			margin-top: 0;
		}
	}

	.portfolio-single-shell {
		display: flex;
		flex-direction: column;

		@include media($tablet-landscape) {
			flex-direction: row;
		}

		.entry-content {
			margin-top: 0;
		}
	} // .portfolio-single-shell

	.portfolio-featured-wrapper {
		font-size: 0; // ghost-space killah.
		min-width: 50%;
		text-align: center;

		@include media($tablet-landscape) {
			margin-right: $gutter * 2;
		}
	} // .portfolio-featured-wrapper

	.project-link {
		background-color: $white;
		border: 1px solid darken($pearl, 20%);
		color: $revolver;
		font-size: 16px;
		margin: $gutter auto;
		max-width: 120px;
		padding: 8px 24px;
		text-align: center;
		text-decoration: none;
		transition: background-color 0.15s ease-in-out;

		&:hover,
		&:active,
		&:focus {
			background-color: $pearl;
		}
	} // .project-link

	.image-gallery {
		list-style-type: none;
		margin-bottom: $gutter * 2;
		padding: 0;

		.portfolio-gallery-single {
			font-size: 0; // ghost-space killah.

			img {
				max-width: initial;
				min-height: 100%;
			} // img
		} // .portfolio-gallery-single
	} // .image-gallery
} // .portfolio
