//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $revolver;
$color-button-background-hover: $loulou;
$color-button-text: $white;

// Inputs
$color-input-border: $cinder;
$color-input-focus-text: $revolver;
$color-input-text: $revolver;

$padding-input: 3px 5px;
